body {
    background-color: #fdfdfd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.pageTitle {
    font-size: 5em;
    font-weight: bold;
}
 
.pageTitle:link, .pageTitle:visited {
    color: #888888;
}
  
.pageTitle:hover {
    color: #000000;
}

#headerTitle {
    text-align: center;
}

.inlineBlock {
    float: left;
    margin: 1em;
  }


.genericButton {
    background-color: #009999;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  
  .genericButton:hover {
    background-color: #00cccc;
  }

  .centerAlign {
      text-align: center;
  }

  input.genericButton {
      font-size: 1.1em;
      border-style: none;
      width: 5em;
      margin: 0.2em;
  }