table {
  width: 100%;
}

table, td, th {
  border-collapse: collapse; 
  border: 1px solid #cccccc;
}

th {
  font-weight: bold;
  color: #555555;
}

.productsTable:nth-child(even) {
  background-color: #fafafa;
}

.productsTable:hover {
  background-color: #f4f4f4;
}

.productsTableLink:link, .productsTableLink:visited {
  color: #009999;
  
}

.productsTableLink:hover {
  color: #00cccc;
}

.productName{
  font-size: 3em;
  font-weight: bold;
  color: #009999;
}

.productDescription {
  clear: left;
  width: 50em;
  border: 1px solid #cccccc;
  margin: 1em;
}

#createNewPr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}