<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments.html :: headData"></th:block>
    <title>WebShop</title>
    <link href="/mainStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div th:replace="fragments.html :: header"></div>
    <div id="createNewPr">
        <a class="genericButton" href="/product/create">Create new product</a>
        <span>Category: </span><select id="dynamicTypeSel" name="type"
            onchange="if (this.value) window.location.href=this.value">
            <option value="/" th:selected="${selectedType==null}">...</option>
            <option th:each="prType: ${productTypes}" th:value="'/products/' + ${prType}" th:text="${prType}"
                th:selected="${selectedType} == ${prType.toString()}"></option>
        </select>
    </div>
    <div>
        <table>
            <tbody>
                <tr>
                    <th>Product name</th>
                    <th>Short Description</th>
                    <th>Category</th>
                    <th>Available amount</th>
                    <th>Product price</th>
                </tr>
                <tr class="productsTable" th:each="product: ${products}">
                    <td><a class="productsTableLink" th:href="@{'/product/' + ${product.id}}"><span
                                th:text="${product.name}"></span></a></td>
                    <td><span th:text="${product.description}"></span></td>
                    <td><span th:text="${product.type}"></span></td>
                    <td><span th:text="${product.amount}"></span></td>
                    <td><span th:text="${product.price}"></span><span> €</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>