<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments.html :: headData"></th:block>
    <title th:text="${product.name}"></title>
    <link href="/mainStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
    <div th:replace="fragments.html :: header"></div>
</div>
<div>
    <div class="inlineBlock">
        <span class="productName" th:text="${product.name}"></span>
    </div>
    <div class="inlineBlock">
        <p>Price: <span th:text="${product.price}"></span> € </p>
        <p>Amount in stock: <span th:text="${product.amount}"></span></p>
    </div>
    <div class="inlineBlock">
        <form method="GET" th:action="'/product/' + ${product.id} + '/edit'">
            <input class="genericButton" type="submit" value="Edit"/>
        </form>
        <form method="POST" th:action="'/product/' + ${product.id} + '/delete'">
            <input class="genericButton" type="submit" value="Delete"/>
        </form>
    </div>
    <div class="productDescription">
        <p th:text="${product.description}"></p>
    </div>
</div>
</body>

</html>