<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments.html :: headData"></th:block>
    <title th:text="${product?.name}"></title>
    <link href="/productEditStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div>
    <div th:replace="fragments.html :: header"></div>
</div>
<div class="centerAlign" id="editPrForm">
    <form method="POST" th:action="${product != null} ? '/product/' + *{id} : '/product/'">

        <div>
            <p>Product name: </p>
            <input id="editPrName" name="name" th:attrappend="value=${product?.name}" type="text" required>
        </div>
        <div>
            <p>Amount in stonck: </p>
            <input id="editPrAmount" name="amount" th:attrappend="value=${product?.amount}"
                   type="number" required>
        </div>
        <div>
            <p>Price: </p>
            <input id="editPrPrice" name="price" th:attrappend="value=${product?.price}"
                   type="number" required>
        </div>
        <div>
            <p>Category: </p>
            <select name="type">
                <option th:each="prType: ${productTypes}" th:text="${prType}"></option>
            </select>
        </div>
        <div>
            <p>Description: </p>
            <textarea cols="30" id="editPrDesc" name="description" rows="15"
                      th:text="${product?.description}"></textarea>
        </div>
        <input type="submit">
    </form>
</div>

</body>

</html>